html, body{
	margin: 0;
}
body{
	background-size: cover !important;
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bar{
	width: 100%;
	opacity: 0.6;
}
.menu{
	display: none;
	width: min-content;
	margin: auto;
}

.top{
	height: 5vh;
	background: var(--colorTwo);
}
#settings{
	color: var(--colorText);
	font-size: 3vh;
	position: absolute;
	top: 1vh;
	right: 1vh;
}
#settings:hover{
	color: var(--colorTextHov);
}
.mid{
	height: 11vh;
	background: var(--colorOne);
}
.nav{
	height: 13vh;
	background: var(--colorTwo);
	text-align: center;
}
.nav-item{
	display: inline-block;
	background: var(--colorTwo);
	height: 100%;
	width: 20vh;
	margin: 0;
}
.nav-item > i{
	margin: 3vh;
	font-size: 7vh;
	color: var(--colorText);
}
.nav-item:hover{
	background: var(--colorTwoHov);
}
.active.nav-item{
	background: var(--colorOne);
	position: relative;
}
.active.nav-item::after{
	content: '';
	width: 0; 
	height: 0; 

	position: absolute;
	top: 13vh;
	right: 0;

	border-left: 10vh solid transparent;
	border-right: 10vh solid transparent;

	border-top: 2.9vh solid var(--colorOne);
}
.active.nav-item:hover{
	background: var(--colorOne);
}

p{
	color: var(--colorText);
}
#welcome{
	margin-left: 3vw;
	line-height: 5vh;
	font-size: 2vh;
}

h1{
	margin: 0;
	text-align: center;
	font-size: 5vh;
	font-family: "Arial Black";
	color: var(--colorText);
	line-height: 10vh;
}
#todo-cont{
	width: 32.4vw;
	background: var(--colorTwo);
	margin: 6vh auto;
}
.todo-head{
	width: 100%;
	height: 4.5vh;
	background: var(--colorOne);
	color: var(--colorText);
}
#todo-select{
	width: 80%;
	height: 100%;
	background: var(--colorOne);
	color: var(--colorText);
	text-indent: 1vw;
	font-size: 1.7vh;
	border: none;
}
#date-all-toggle{
	width: 20%;
	height: 100%;
	float: right;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	line-height: 4.5vh;
}
#date-all-toggle:hover{
	background: var(--colorOneHov);
}
.heading{
	width: 100%;
	height: 5.5vh;
	background: var(--colorOne);
	line-height: 5.5vh;
	text-align: center;
	color:var(--colorText);
	font-size: 2vh;
}
table{
	width: 100%;
	padding: 1vw;
}
td{
	padding: 1vh 0;
	position: relative;
}
.check-cont{
	display: block;
	position: relative;
	padding-left: 2.5vh;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	bottom: 2vh;
}
td input[type=checkbox]{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: .5vh;
  left: 0;
  height: 2.5vh;
  width: 2.5vh;
  background-color: var(--colorTwo);
  border: .2vh var(--colorOne) solid;
  border-radius: .5vh;
}
td input[type=checkbox]:checked ~ .checkmark {
  background-color: var(--colorOne);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
td input[type=checkbox]:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  width: .5vh;
  height: 1vh;
  top: .5vh;
  left: .75vh;
  border: solid var(--colorText);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

td textarea, #hidden-div{
	width: 100%;
	height: 3.5vh;
	outline: none;
	border-width: 0 0 .2vh 0;
	border-style: solid;
	border-color: var(--colorOne);
	background: transparent;
	padding: 0 1vw;
	color: var(--colorOne);
	resize: none;
	line-height: 3.5vh;
	overflow: hidden;
}
td textarea:focus{
	background: var(--colorOne);
	color: var(--colorText);
}

#prev-day-todo{
	float:left;
	margin-top: 1.8vh;
	margin-left: 1vh;
	cursor: pointer;
}
#next-day-todo{
	float: right;
	margin-top: 1.8vh;
	margin-right: 1vh;
	cursor: pointer;
}

.more-info{
	display: inline-block;
	color: var(--colorOne);
	margin-right: -2vh;
	width: 3vh;
	text-align: center;
	padding: .5vh 0;
	border-radius: 3vh;
}
.more-info:hover{
	background: var(--colorTwoHov);
}


.popup-menu{
	display: none;
	position: absolute;
	width: 8vw;
	border: solid black 1px;
	background: black;
}
.popup-item{
	width: 100%;
	height: 3vh;
	text-indent: 1vh;
	line-height: 3vh;
	background: var(--colorText);
}
.popup-item:hover{
	background: var(--colorTextHov);
}

#tab-groups-cont, #reading-list-cont{
	width: 50vw;
	margin: 6vh auto;
}
.tab-group-item{
	width: 90%;
	margin-left: 10%;
	height: 10vh;
	border-radius: 1vh;
	background: var(--colorTwo);
	display: flex;
	margin-top: 2vh;
}
.tab-group-item:hover{
	background: var(--colorTwoHov);
}
.tg-text {
    flex: 90%;
    margin: 2vh 0 0 2vh;
}
.tg-icon{
	color: var(--colorOne);
    flex: 10%;
    text-align: center;
    margin: 3.5vh 1vh;
    font-size: 3vh;
}
.tg-icon:hover{
	color: var(--colorText);
}
p.tg-subtitle {
    margin: 0;
    color: var(--colorOne);
}
h2.tg-title {
    margin: 0;
    font-size: 3vh;
    color: var(--colorOne);
}


#notes-cont{
	margin-top: 5vh;
	width: 60vw;
	position: relative;
	display: flex;
	background: var(--colorTwo);
	height: 50vh;
}
#note-names-cont{
	flex: 30%;
	position: relative;
}
#notes{
	margin: .5vh 0 0 .5vh;
	overflow: scroll;
	height: 48vh;
}
#notes::-webkit-scrollbar {
	display: none;
  }
#note-actions{
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
	border-top: .2vh solid var(--colorText);
}
.note-action{
	text-align: center;
	flex: 1;
	border: none;
	outline: none;
	padding: .5vh;
	color: var(--colorText);
	background: var(--colorTwo);
	cursor: pointer;
}
.note-action:hover{
	background: var(--colorTwoHov);
}
.note-title{
	padding: 2vh 2vw;
	cursor: pointer;
}
.note-title.active{
	background: var(--colorOne);
}
.note-title input{
	color: var(--colorText);
	background: none;
	outline: none;
	border: none;
}
.note-title input:focus{
	border-bottom: .2vh solid var(--colorText);
}
#notes-content{
	flex: 70%;
	background: var(--colorOne);
}