html, body{
	margin: 0;
}

#content{
	width: 200px;
	max-height: 300px;
	background: var(--colorTwo);
}
.tool {
    border: solid var(--colorOne);
    border-width: 2px 0;
}

.tool-title {
    color: var(--colorText);
    font-weight: 800;
    font-size: 15px;
    background: var(--colorOne);
    padding: 3px 5px;
}

.tool-content {
    padding: 5px;
    text-align: center;
}

button {
    border: none;
    background: var(--colorOne);
    color: var(--colorText);
    font-size: 10px;
    height: 20px;
    width: 40px;
}

select {
    border: none;
    height: 20px;
    font-size: 10px;
    padding: 3px;
}